# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out
coverage
coverage.html

# Dependency directories
vendor/

# Go workspace file
go.work

# IDEs
.vscode/
.idea/

# OS specific
.DS_Store
Thumbs.db

# Project specific
precious-time-tracker.sqlite3
precious-time-tracker.sqlite3-journal
precious-time-tracker.sqlite3-wal

tmp
